/* リセットCSS */
*{
    margin: 0;
    padding: 0;
  }
  ul{
    list-style-type: none;
  }
  a {
    color: #4f2306;
    text-decoration: none;
  }
  p{
    color: #4f2306;
  }
  li{
    list-style: none;
  }
  
  
  body{
    font-family: "游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 Pro","Hiragino Mincho Pro","MS P明朝","MS PMincho",serif;
  }
  
  /* ヘッダー部分 */

.header1{
    text-align: center;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #fff;
}  
.header1-cover{
    text-align: center;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #fff;
    z-index: 1000;
}

.header1 img{
    height: 25px;
    width: 100px;
    padding-top: 15px;
}
.header1 .fa-solid{
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}

.header-nav{
    background-color: #fff;
    text-align: left;
    transform: translateY(-150%);
    transition: 0.5s;
    z-index: 10;
    padding-top: 60px;
  }
.header-menu li{
    padding: 18px 0;
    border-bottom: 1px solid #4f2306;
  }
  .header-menu li a{
    font-size: 14px;
  }
  .header-menu li a:hover{
    text-decoration: underline;
  }
  .header-menu .fa-solid{
    padding: 7px 10px;
    float: left;
  }
  .drawer-btn:checked~.header-nav{
    transform: translateY(0%);
  }
  
  .drawer-btn{
    position: absolute;
    right: 25px;
    top: 25px;
    transform: scale(2);
    opacity: 0;
    z-index: 2000;
  }
  


.headertop{
    width: 90%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }
.headertop img{
    float: left;
    margin-top: 22px;
  }
  #otoiawase{
    display: block;
    float: right;
    margin-top: 30px;
    width: 200px;
    height: 35px;
    background-color: #2A6686;
    text-align: center;
    line-height: 35px;  
    color: #fff;
    font-size: 19px;
    border-radius: 10px;
  }
  #otoiawase:hover{
    transform: scale(1.1);
  }
  
  
  #gnavi {
   margin: 30px auto;
   width: 90%;
  }
  #gnavi ul{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  #gnavi ul li a {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    width: 150px;
    border-bottom: 3px solid transparent;
    font-size: 32px;
  }
  #gnavi ul li a span{
    font-size: 20px;
  }
  #gnavi ul a:hover{
    border-bottom: 3px solid #4F2306
  }

  .contents{
    width: 100%;
  }
  .top-image{
    width: 100%;
  }


  .news-wrapper{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    color: #4f2306;
  }
  h1{
    font-size: 60px;
  }
  .heading span{
    font-size: 16px;
    margin-left: 20px;
  }
  .news-item{
    display: flex;
  }
.news-item img{
    padding-right: 30px;
    width: 100%;
}

  .news-item span{
    font-size: 30px;
    display: block;
    text-align: center;
  }
.news-contents{
    padding-bottom: 50px;
    border-bottom: 1px solid#4F2306;

}
    
.about-wrapper{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    color: #4f2306;
}


.about-contents{
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid#4F2306;
}
.contents-item{
    width: 33%;
    padding: 0 30px;
    padding-bottom: 10px;
    text-align: left;

} 

.contents-item img{
    width: 100%;
} 
.about-wrapper .contents-item span{
    font-size: 30px;
    text-align: center;
  
}
.contents-item p{
    padding-top: 40px;
}  

#footer{
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
}
  #flex ul{
    display: flex;
    justify-content: right;
    gap: 0 40px;
    font-size: 15px;
    align-items: center;
  }
  #logo2 img{
    float: left;
    margin-top: 27px;
  }
#link ul{ 
    display: flex; 
    justify-content: right;
    gap: 0 35px;
  }
  
  #sns1{
    display: block;
    float: right;
    width: 76px;
    height: 34px;
    margin-top: 38px;
    font-size: 16px;
    background-color: #2A6686;
    text-align: center;
    line-height: 34px;
    color: #fff;
   border-radius: 10px;
  }
  #sns2{
    display: block;
    float: right;
    width: 76px;
    height: 34px;
    margin-top: 38px;
    font-size: 16px;
    background-color: #2A6686;
    text-align: center;
    line-height: 34px;
    color: #fff;
   border-radius: 10px;
  }
  #sns3{
    display: block;
    float: right;
    width: 76px;
    height: 34px;
    margin-top: 38px;
    font-size: 16px;
    background-color: #2A6686;
    text-align: center;
    line-height: 34px;
    color: #fff;
   border-radius: 10px;
  }
  #sns4{
    display: block;
    float: right;
    width: 76px;
    height: 34px;
    margin-top: 38px;
    font-size: 16px;
    background-color: #2A6686;
    text-align: center;
    line-height: 34px;
    color: #fff;
   border-radius: 10px;
  }

  @media screen and (min-width: 1000px) {
    .header1{
        display: none;
    }
    #link2 ul{
        display: none;
    }
}


@media screen and (max-width: 1000px){
    #gnavi{
        display: none;
       }
    .headertop{
        display: none;
      }   
      .top-image{
        padding-top: 60px;
      }



    .news-wrapper{
        margin-top: 50px;
    }
    .news-item{
        display: block;
        text-align: center;
        width: 100%;
    }
    .news-item p{
        text-align: left;
    }
    .news-item span{
        font-size: 15px;
        padding-top: 20px;
    }


    .about-wrapper{
        margin-top: 50px;
    }
    .heading{
      font-size: 24px;
      padding-bottom: 20px;
    }
    .about-contents{
        display: block;
        width: 90%;
    
    }
    .contents-item{
        width: 100%;
        text-align: center;

    }
    .contents-item img{
        width: 65%;
    }
    .contents-item p{
        padding: 20px 0 60px 0;
    }
    .about-wrapper .contents-item span{
        font-size: 24px;
    }
    #flex ul{
        display: flex;
        justify-content: right;
        gap: 0 9px;
        font-size: 10px;
        align-items: center;
    }
    #flex img{
        width: 50%;
    }
    #logo2{
        margin-top: 20px;

    }
    #logo2 img{
        height: 25px;
        width: 100px;
        margin-top: 0;
    }
    #link {
        display: none;
    }
    
    #link2 ul{ 
        display: flex; 
        justify-content: right;
        gap: 0 35px;
      }
    
    }
    